/*Ariq Section*/

/* Global Config*/
.{
	box-sizing: border-box;
	margin:0;
	padding:0;
	border:0;
}

body, html{
/*	min-width: 1024px;*/
	font-family: OpenSans-Regular!important;
	margin:0;
}


/*Section Fitur baru*/

.ariq-feature{
	width: 100%;
	margin: 500px 0px 30px;

/*	background-color: lightblue;*/
}

.ariq-container{

	/*center Layout config*/

	margin:0px auto; 	 		/*agar Ketengah*/
	width: 1024px; 		 		/*Mengatur Fixed Width agar tidak melebar saat di minimize*/

	/*	background-color: pink;*/
}

.ariq-feature-box{
	margin-top: 32px; 			/*menambahkan jarak atas*/
	padding:16px 0px; 			/*menambahkan jarak dalem konten*/

	border-bottom: 1px solid #ddd; /*Menambahkan border pemisah*/

	display:flex;				/*mengaktifkan-flex*/
	flex-wrap: wrap;			/*agar konten membuat baris baru ketika width mencapai 100%*/

	/*	background-color: lightyellow;*/
}

.ariq-flex-box-text{
	display: flex;				/*Mengaktifkan-flex*/
	flex-wrap: nowrap;			/*Agar konten tidak membuat baris baru ketika width mencapai 100%*/
	width: 50%;					/*Memberi jarak per-box (class "flex-box-text") sebesar 50% (terhubung dengan class 							"feature-box)*/
	justify-content:center; 	/*Agar konten tetap ditengah*/
}

.ariq-flex-box-config{
	display: flex;				/*Mengaktifkan-Flex*/
	width: calc(100% - 80px);	/*memberi jarak antara image dan text agar tidak membuat baris baru*/
}

.ariq-text{
	padding-top: 20px;			/*Memberi Jarak dalam agar text kebawah*/
	margin-left: 20px;			/*Memberi jarak luar agar text memisah dengan gambar*/

}

.ariq-text-config{
	line-height: 5px;			/*memberi jarak antara text*/
	font-size: 12px;
}

.ariq-text-title{
	font-family: 'Open Sans-SemiBold', Sans-serif;
	font-weight: 600; 
}

.ariq-text-subtitle{
	font-family: Open Sans, Sans-serif;
	font-weight: 400; 
}

.ariq-gambar{
	width: 80px;				/*memberi box untuk class "size-gambar ( terhubung dengan class "text")*/
}

.ariq-size-gambar{
	width: 80px;				/*memberi ukuran gambar*/
	margin: 8px 0px;			/*memberi jarak antar box konten (terhubung dengan class flex-box-text)*/

}

/*Loyalty Section*/

/*setting title*/
.ariq-title-loyalty{
	text-align: center;
	font-family: 'Open Sans-SemiBold', Sans-serif;
	font-weight: 600; 
	font-size: 25px;
	color: #222;

	margin: 30px 0px;
}

/*setting subtitle*/
.ariq-text-loyalty{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size: 12px;
	color: #222;
	margin-bottom: 16px
}

/*Row Gambar*/
.ariq-row-gambar{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ariq-flex{
	text-decoration: none;
	width: 25%;

}

/*setting jarak antar box*/
.ariq-space-box{
	padding:15px 0px;
/*	background-color: lightblue;*/
	margin-bottom: 30px;
	display: flex;
	justify-content: center
}

/*setting box*/
.ariq-box-config{
	border-radius: 10px;
	width: 240px;
	height: 150px;
	align-items: center;
}


.ariq-box{
	border:1px solid none;
	border-radius:10px;
	background-color: #DDD;

	box-shadow: 0 6px 6px -5px grey;
	transition: transform 0.4s ease-out, box-shadow 0.5s ease-out;
}

.ariq-box:hover{
	box-shadow: 0px 5px 15px rgba(221, 221, 221, 1);
	transform: translate(0px, -10px);
	cursor:pointer;
}

/*Button*/

.ariq-button {
display: flex;
justify-content: center;
}

/*setting button*/
.ariq-button-config{
	font-family: 'Open Sans', Sans-serif;
	padding:5px 10px;

	border-radius: 3px;
	border: 1px solid #ff7200;
	background-color: white;
	color: #ff7200;
	outline: none;
	margin-bottom: 30px;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.ariq-button-config:hover{
	background-color: #ff7200;
	color: white;
	cursor: pointer;
	border-color: #ff7200;
}
